/***
Usando o seletor "*" os estilos serão aplicados a todos os elementos da página
***/
* {
    /* configura a família de fontes a ser utilizada */
    font-family: 'Trebuchet MS';

    /* tamanho da fonte padrão do site */
    font-size: 1.05em;

    /* remove a margem de todos os elementos */
    margin: 0px;

}


body {
    /* cor de fundo padrao */
    background-color: white;

    /* cor da fonte */
    color: #0b467c;

    /* imagem de fundo */
    background-image: url(../imagens/barra-lateral.png);
    background-repeat: repeat-y;
}

.erro {
    color: red;
    background-color: yellow;
    padding: 10px;
    border: 1px solid red;
    width: 90%;
    border-radius: 10px;
}

table {
    /* estilo da borda */
    border: 1px solid navy;
    border-collapse: collapse;

    /* margem */
    margin: 5px;

    /* largura */
    /* min-width: 50%; */
    /* max-width: 100%; */
}

th {
    /* cor de fundo */
    background-color: #D4E3FE;
}

tr:hover {
    /* cor de fundo */
    background-color: #e3e8f2;
}

th,
td {
    /* estilo da borda */
    border: 1px solid navy;

    /* espaçamento interno */
    padding: 1px 5px;

    /* tamanho da fonte */
    font-size: 0.8em;
}

td.id {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    text-align: center;
}

header {
    /* cor de fundo */
    background-color: #110652;
    background-color: #2e2b5e;
    /* imagem de fundo */
    background-image: url(../imagens/bach-header.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: right center;



    /* define o espaçamemnto interno */
    padding: 20px 20px;

    /* cor do texto */
    color: white;

    /* remove a margem */
    margin: 0px;

    /* altura */
    /* height: 60px; */

    /* tipo de exibicao "flex" para alinhar os elementos verticalmente*/
    display: flex;

}

header h2 {
    /* definições da fonte */
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: cursive;

    /* definições da margem */
    margin: 0px 0px 0px 25px ;

    /* aumenta o espaçamento entre as letras */
    letter-spacing: 10px;
}

main {
    /* define o espaçamemnto interno */
    padding: 10px 20px;

    /* remove a margem */
    margin: 0px;

    /* largura */
    width: 70%;

    /* remove a borda */
    border: none;

    /* definições do tipo de exibição dos elementos dentro de "main" */
    display: inline-block;

    /* define a altura da linha para que o texto fique centralizado verticalmente */
    line-height: 1.7em;
}

strong{
    color: blue;
}

main h2.titulo_pagina {
    /* remove a margem */
    margin: 0px;

    /* aplica um estilo na fonte para deixar as letras minúsculas com aparência de maiúsculas */
    font-variant: small-caps;

    /* cor da fonte */
    color: #1775cd;

    /* tamanho da fonte */
    font-size: 1.5em;

    /* borda inferior */
    border-bottom: 1px solid #1775cd;

    /* margem inferior */
    margin-bottom: 10px;

    /* espaçamento interno */
    padding: 0px 0px 10px 0px;

}

nav {
    /* remove a borda */
    border: none;

    /* definição do tipo de exibição dos elementos dentro de "nav" */
    display: inline-block;

    /* alinhamento vertical */
    vertical-align: top;
}

nav ul {
    /* remove os marcadores (bullets) */
    list-style-type: none;

    /* remove o espaçamento interno */
    padding: 0px;
}

nav ul a {
    /* largura */
    width: 179px;

    /* altura */
    height: 40px;

    /* altera o diplay do <a> para "block" (o padrão é "inline") */
    /* para que as propriedades width e height façam o efeito desejado */
    display: block;

    /* cor da fonte */
    color: black;

    /* remove o sublinhado do link */
    text-decoration: none;

    /* define a indentação do texto (recuo) */
    text-indent: 12px;

    /* define a altura da linha para que o texto fique centralizado verticalmente */
    line-height: 40px;

    /* remove a borda inserida para fins didáticos */
    border: none;

    /* cor de fundo */
    background-color: #D4E3FE;

    /* ajusta o espaçamento interno dos itens */
    padding: 0px 0px 0px 20px;

    /* fonte negrito */
    font-weight: bold;
}

/*** 
Estilo utilizado quando o mouse passar por cima dos itens do menu de navegacao
***/
nav ul a:hover {
    /* altera cor de fundo*/
    background-color: #608CBB;
    /* cor da fonte */
    color: white;
}



.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: navy;
    background-color: #c6daec;
    /* background-color: white; */


    border-color: #2e6da4;

    text-decoration: none;

}

.btn:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

.btn:hover,
.btn.small:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}


.btn.active,
.btn:active {
    color: #fff;
    background-color: #286090;
    background-image: none;
    border-color: #204d74
}

.btn:active:focus,
.btn:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

.btn.disabled:focus,
.btn.disabled:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn .badge {
    color: #337ab7;
    background-color: #fff
}


.btn-del {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: maroon;
    background-color: #e2acaa;


    border-color: #d43f3a;

    text-decoration: none;
}

.btn-del:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19
}

.btn-del.small:hover,
.btn-del:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-del:active {
    color: #fff;
    background-color: #c9302c;
    background-image: none;
    border-color: #ac2925
}

.btn-del.active.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19
}

.btn-del.disabled:focus,
.btn-del.disabled:hover{
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-del .badge {
    color: #d9534f;
    background-color: #fff
}



.btn-def {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #333;
    background-color: #eee;
    border-color: #ccc;

    text-decoration: none;
}

.btn-def:focus {
    color: #333;
    background-color: #b1afaf;
    border-color: #8c8c8c
}

.btn-def:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-def.active,
.btn-def:active {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad
}

.btn-def:active:focus,
.btn-def:active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.btn-def.disabled:focus,
.btn-def.disabled:hover{
    background-color: #fff;
    border-color: #ccc
}

.btn-def .badge {
    color: #fff;
    background-color: #333
}


.btn-upd {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-decoration: none;


    color: #000;
    background-color: #abd8e6;
    border-color: #46b8da;

}

.btn-upd:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

.btn-upd:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-upd.active,
.btn-upd:active {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #269abc
}

.btn-upd:active:focus,
.btn-upd:active:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}

.btn-upd.disabled:focus,
.btn-upd.disabled:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-upd .badge {
    color: #5bc0de;
    background-color: #fff
}

.small {
    font-size: 0.85em;
    height: 15px;
    line-height: 15px;
    padding: 3px 9px;
    /* margin: 2px; */
}

.btn.small,
.btn-del.small{
    background-color: white;
}

.medium {
    font-size: 0.90em;
    height: 19px;
    line-height: 19px;
    padding: 3px 9px;
    /* margin: 2px; */
}

form select {
    min-width: 175px;
} 


label {
  display: inline-block;
  width: 130px;
  text-align: right;
}


label, input, select{
    font-size: 12pt;
}


#a_header {
    text-decoration: none;
    color: inherit;
}