{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Web Store</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>
<body>
    <!-- CABECALHO DA PAGINA -->
    <a id="a_header" href="/">
    <header>
            <h2>Web Store</h2>
            <br>
            <span style="font-size: 0.9em; margin: 0px; padding: 0px; color: lightgoldenrodyellow;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i>versão 2.0</i>
            </span>
    </header>
    </a>
    <!-- MENU LATERAL DE NAVEGACAO -->
    <nav>
        <ul>
            <li>  <a href="{% url 'home' %}">Home</a>  </li>
            <li>  <a href="{% url 'produtos' %}">Produtos</a></li>
            <li>  <a href="{% url 'categorias'  %}">Categorias</a> </li>
        </ul>
    </nav>
    <!-- CONTEUDO DAS PAGINAS -->
    <main>
        <!-- Este bloco será utilizado para exiir o título da página -->
        <div id="titulo_pagina">
            {% block titulo_pagina %}
                Título da Página
            {% endblock %}            
        </div>
        <!-- Exibe mensagem de ERRO, caso tenha ocorrido algum -->
        {% if ERRO %}
            <h3 class="erro">ERRO: {{ERRO}}</h3>
            <br>
        {% endif %}       

        <!-- Este bloco será utilizado para inserir o conteúdo das páginas. -->
        <div id="conteudo">
            {% block conteudo %}
                Conteúdo da Página
            {% endblock %}
        </div>
    </main>
</body>


