{% extends "base.html" %}

{% block titulo_pagina %}
    <h2 class="titulo_pagina">Produtos</h2>
{% endblock %}  

{% block conteudo %}

    <div style="margin-left: 5px;">
        <a class="btn medium" href="{% url 'produtos' acao='incluir' %}">Incluir</a>
    </div>

    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Produto</th>
                <th>Preço Unitário</th>
                <th>Estoque</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in registros %}
            <tr>
                <td>{{ reg.id }}</td>
                <td>{{ reg.descricao }}</td>
                <td>{{ reg.preco_unitario }}</td>
                <td>{{ reg.quantidade_estoque|default_if_none:'' }}</td>
                <td>{{ reg.categoria.descricao }}</td>
                <td>
                    <a class="btn small" href="{% url 'produtos' acao='alterar' id=reg.id %}">Alterar</a>
                    <a class="btn-del small" href="{% url 'produtos' acao='excluir' id=reg.id %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}